Chapter 7<br/>
< Linear Regression with GD & Implementation >
===============================

In [1]:
import matplotlib.pyplot as plt
% matplotlib inline
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/slr06.csv")
df.head()

     X      Y
0  108  392.5
1   19   46.2
2   13   15.7
3  124  422.2
4   40  119.4